<h1>Войти</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :Имя %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Вход" %>
  </div>
<% end %>
<p>Новый пользователь <%= link_to "Зарегистрироваться", signup_path %></p>
